{% extends "whistlepig_base.html" %}

{% block content %}

  <hgroup id="main-feature" class="center">
    <h1 class="app-name">whistlepig</h1>
    <h2>Notification Calendar</h2>
  </hgroup>


  <div id="main-content">
    <div class="row">
      {% include "whistlepig/sidebar.html" ignore missing with context %}
      <article id="top" class="announcements-panel span7">
        <h1 class="period-header">Notification Calendar</h1>
        <div id='calendar' style='margin: 10px;'></div>
      </article>
    </div>
  </div>
<!-- This form below should only be rendered if a user is logged in -->
<link rel="stylesheet" href="{{ static('whistlepig/css/jquery.fullcalendar.css') }}" />
<link rel="stylesheet" href="{{ static('whistlepig/css/smoothness/jquery-ui-1.8.18.custom.css') }}" />
<script src="{{ static('whistlepig/js/jquery-1.7.1.min.js') }}"></script>
<script src="{{ static('whistlepig/js/calendar.js') }}"></script>
{% endblock %}
