{% extends "whistlepig_base.html" %}

{% block content %}

  <hgroup id="main-feature" class="center">
    <h1 class="app-name">whistlepig</h1>
    <h2>Status Update Detail</h2>
  </hgroup>


  <div id="main-content">
    <div class="row">
      {% include "whistlepig/sidebar.html" ignore missing with context %}
      <article id="top" class="announcements-panel span7">
        <h1 class="period-header">{{ article.summary_expanded }}</h1>
                <section class="period-data {{ article.severity.css_class }}">
                <h2><a href="{{ "article-detail"|url(article.id) }}">{{ article.summary_expanded }}</a><span class="bugzilla-id">{% if article.bugzilla_id %}(Bugzilla ID: {{article.bugzilla_links|safe }}){% endif %}</span></h2>
                <p>
                    {% if article.start_time %}
                        <strong><time datetime="{{ article.start_time }}">{{ article.start_time.strftime("%Y-%m-%d %H:%M") }} {{ article.timezone.name }}</time></strong>
                    {% endif %}
                    {% if article.duration_minutes %}
                        <strong>Duration {{ article.expand_minutes() }}</strong>
                    {% endif %}
                </p>
                <p>{{ article.description_expanded|linebreaks|safe }}</p>
                {% if article.impact_of_work_expanded|safe %}
                    <p><strong>Impact of Work</strong>:
                         {{ article.impact_of_work|linebreaks|safe }}
                    </p>
                {% endif %}
                <p>Admin Assigned: {{ article.admin_assigned }}</p>
                <p><strong>Status: {{ article.status }}</strong></p>
                </section>
                {% if article.statusupdatecomment_set.all()|length > 0 %}
                    <h2>Comments</h2>
                {% endif %}
                {% for comment in article.statusupdatecomment_set.all() %}
                <p class='status_update_comment'>
                <div class='status_update_comment_header'>{{ comment.created_on.strftime("%Y-%m-%d %H:%M") }} PST - {{ comment.author }}</div>

                <div class='status_update_comment_body'>{{ comment.comment|linebreaks|safe }}</div>

                
                </p>
                {% endfor %}

        <hr class="divider" />
        </article>
    </div>
  </div>
<!-- This form below should only be rendered if a user is logged in -->
<form name="addnotice" id="add_notice" action="/" method="post">
  <fieldset>
    <legend>Complete the information below to add an announcement</legend>

    <div class="field">
      <label for="title">Title:</label>
      <input type="text" id="title" name="title" />
    </div>

    <div class="field">
      <label for="description">Description</label>
      <textarea cols="65" rows="15" id="description" name="description" placeholder="Enter short description of notice"></textarea>
    </div>

    <div class="field">
      <label for="bugzilla">BugzillaID:</label>
      <input type="text" id="bugzilla" name="bugzilla" />
    </div>

    <div class="field">
      <label for="admin-assigned">Admin Assigned:</label>
      <input type="text" id="admin-assigned" name="admin-assigned" />
    </div>

    <div class="field">
      <label for="time-window">Time Window:</label>
      <input type="text" id="time-window" name="time-window" placeholder="ex. 2012-09-01" />
    </div>

    <input type="submit" class="button" name="submit-notice" value="Add Notice&nbsp;»" />
  </fieldset>
</form>
{% endblock %}
