{% extends "whistlepig_base.html" %}

{% block content %}

  <hgroup id="main-feature" class="center">
    <h1 class="app-name">whistlepig</h1>
    <h2>Upcoming maintenance and downtime</h2>
  </hgroup>


  <div id="main-content">
    <div class="row">
      {% include "whistlepig/sidebar.html" ignore missing with context %}
      <article id="top" class="announcements-panel span7">
        {% if updates %}
            {% for month_group in updates %}
            <h1 class="period-header"><time datetime="2012-08-10T15:29:00">{{ month_group.month_name }} - {{ month_group.month_year }}</time></h1>
                {% for article in month_group.articles %}
                    <section class="period-data {{ article.severity.css_class }}">
                    <h2><a href="{{ "article-detail"|url(article.id) }}">{{ article.summary }}</a><span class="bugzilla-id">{% if article.bugzilla_id %}(Bugzilla ID: <a href="{{settings.BUGZILLA_URL}}{{ article.bugzilla_id }}">{{ article.bugzilla_id }}</a>){% endif %}</span></h2>
                    <p>{{ article.description }}</p>
                    <p>Admin Assigned: {{ article.admin_assigned }}<time datetime="{{ article.posted_on }}">{{ article.posted_on.strftime("%B %e, %Y") }}</time></p>
                    {% if article.serviceoutage_set.count() > 0 %}
                    <p><strong>Services Affected</strong>:
                     {% for p in article.serviceoutage_set.all() %}
                        {{ p.service.name }}{% if not loop.last %},{% endif %}
                     {% endfor %}
                    </p>
                    {% endif %}
                    </section>
                {% endfor %}
            <hr class="divider" />
            {% endfor %}
        {% else %}
            <h1 class="period-header">No Status Updates Found</h1>
                    <section class="period-data no-downtime">
                    <p>No Status Updates Found</p>
                    </section>

        {% endif %}
        </article>
    </div>
  </div>
<!-- This form below should only be rendered if a user is logged in -->
<form name="addnotice" id="add_notice" action="/" method="post">
  <fieldset>
    <legend>Complete the information below to add an announcement</legend>

    <div class="field">
      <label for="title">Title:</label>
      <input type="text" id="title" name="title" />
    </div>

    <div class="field">
      <label for="description">Description</label>
      <textarea cols="65" rows="15" id="description" name="description" placeholder="Enter short description of notice"></textarea>
    </div>

    <div class="field">
      <label for="bugzilla">BugzillaID:</label>
      <input type="text" id="bugzilla" name="bugzilla" />
    </div>

    <div class="field">
      <label for="admin-assigned">Admin Assigned:</label>
      <input type="text" id="admin-assigned" name="admin-assigned" />
    </div>

    <div class="field">
      <label for="time-window">Time Window:</label>
      <input type="text" id="time-window" name="time-window" placeholder="ex. 2012-09-01" />
    </div>

    <input type="submit" class="button" name="submit-notice" value="Add Notice&nbsp;»" />
  </fieldset>
</form>
{% endblock %}
