{{ browserid_css() }}
<section id="sidebar" class="span3">
<aside>
    <h2>Legend</h2>
    <ul>
    <li class="emergency">Emergency</li>
    <li class="downtime">Downtime Expected</li>
    <li class="no-downtime">No Downtime Expected</li>
    </ul>
    <h2>Interact</h2>
    <ul>
    <!-- This list item below should only be rendered if a user is logged in -->
    <li><a href="/calendar/">Calendar</a></li>
    <li><a href="/en-US/ical/feed/">ICS Feed</a></li>
    <!--<li><a href="#add_notice" id="add-notification">Add New Notification</a></li>-->
    <li><a href="/rss/">RSS Feed</a></li>
    </ul>
    <h2 style='margin-top: 5px; font-weight: bold;'><form method='get'  action='/en-US/search/'><input placeholder="Search" id='search_box' type='text' name='search' value=''><button type='submit' name='submit' class='button small' value='Go' />Go</button></form></h2>
    {% if messages %}
        <ul>
        {% for m in messages %}
            <li style="color: red;">{{ m }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    {{ browserid_info() }}
    {% if user.is_authenticated() %}
      <p>Current user: {{ user.email }}</p>
      {% if user.is_superuser %}
          <p><a href="/admin/">Go to Admin</a></a></p>
      {% endif %}
      {{ browserid_logout(text='Logout') }}
    {% else %}
      {{ browserid_login(text='Login', color='dark', next=request.get_full_path) }}
    {% endif %}

    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    {{ browserid_js() }}
</aside>
</section>
