{% extends 'admin/base_site.html' %}
{% load i18n %}
{% block content %}
<style type='text/css'>
    #id_email_message {
        white-space: pre;
        font-family: monospace;
    }
</style>
{% if message %}
<h1 style='color: green;'>{{ message }}</h1>
<br />
<br />
{% endif %}
{% if not form %}
Select Outage Notification Template: <select id='outage_notification_select' name='outage_notification_select'>
    <option value="">---Please Select---</option>
    {% for o in outage_notification_templates %}
        <option value="{{ o.id }}">{{ o.name }}</option>
    {% endfor %}

</select>
{% else %}
<form method='post' action='.'>
    {% for field in form %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
        </div>
    {% endfor %}
    {% csrf_token %}
    <input type='hidden' name='outage_notification_template_id' value='{{ outage_notification_template_id }}' />
    <input style='float: left;' type='submit' class='default' value='Send Notification' />
</form>
{% endif %}
<script src='/static/whistlepig/js/jquery-1.7.1.min.js'></script>
<script>
    var source_email_address_mappings = {{ source_email_addresses|safe }};
    $(document).ready(function(){
        $("#outage_notification_select").change(function(){
            var notification_id = $(this).val();
            if(notification_id != ''){
                self.location = location.href + '?notification_template=' + notification_id;
            }

        });
        $("#id_source_email_address").change(function(){
            var message_recipient = ($(this).val());
            var message_body = $('#id_email_message').val();
            var message_recipient_description = source_email_address_mappings[message_recipient];
            message_body = message_body.replace(/<<source_email_address>>/g, message_recipient)
            message_body = message_body.replace(/<<source_description>>/g, message_recipient_description);
            $("#id_email_message").val(message_body);
        });
    });
</script>
{% endblock %}
